//- This is running on localhost:2000
//- ToDo service is running on localhost:3000
//- Register is running on localhost:8000
//- calendar is running on localhost:5000
header 
  ul 
    li: a(href="/") Home 
    li: a(href="http://localhost:3000/") ToDo
    li: a(href="http://localhost:8000/events/calendar") Register
    li: a(href="http://localhost:5000/todos/home") Calendar
